---
layout: default
title: Blog
permalink: /blog/
---

<div class="page-header">
  <h1>Blog <small>Thoughts, tutorials, and things I find interesting.</small></h1>
</div>

{% if site.posts.size > 0 %}
<ul class="media-list">
  {% for post in site.posts %}
  <li class="media post-item">
    <div class="media-body">
      <h3 class="media-heading"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <p class="muted">
        <small>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
          {% if post.categories.size > 0 %}
          &middot; <span class="label label-info">{{ post.categories | first }}</span>
          {% endif %}
        </small>
      </p>
      <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      <a href="{{ post.url | relative_url }}" class="btn btn-small btn-primary">Read more &raquo;</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-info">No posts yet &mdash; check back soon!</div>
{% endif %}
