---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }}{% if page.subtitle %} <small>{{ page.subtitle }}</small>{% endif %}</h1>
</div>

<div class="row-fluid">
  <div class="span9">
    {{ content }}
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h5>Navigation</h5>
      <ul class="nav nav-list">
        {% for item in site.navigation %}
        <li{% if page.url == item.url %} class="active"{% endif %}>
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
